<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{head_title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>

  <header class="navbar">
    <nav>
      <ul class="navlinks">
        <li><a href="/">Home</a></li>
        <li><a href="/plantsearch">Plant Search</a></li>
        <li><a href="/forum">Plant Forum</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <li><button id="logoutLink">Logout</button></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <h1>{{title}}</h1>

  {{{body}}}

  <!-- Footer Section -->
  <footer id="footer">
    <div class="contact-info">
      <p>Contact Us: contact@gardenbliss.com 🌼 Created By: The BC Garden Club</p>
    </div>
  </footer>

  <!-- Render script for logged-in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>