 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
{{> post-info post }}

<h5 class="my-4 mx-5">Tip:</h5>

<div class="w-75 mx-5 my-2">
    <textarea class="form-control" id="comment" placeholder="comment"></textarea>
</div>
<button id="commentBtn" type="click" class="mx-5 p-3 btn btn-dark">Add Tip (need to be logged in)</button>

<script src="/js/add-comment.js"></script>