 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
 {{!-- <link rel="stylesheet" href="/css/forum.css"> --}}
<ul class="list-group">
  {{#each posts as |post|}}
  <a href="posts/{{post.id}}">
    <li class="">
      {{> post-info post task='view' btntxt="Tips"}}
    </li>
  </a>
  {{/each}}
</ul>


{{#if (eq task "comments") }} 


{{else}}
  {{> new-update-post this btntxt="Create New Post (need to be logged in)"}}  

{{/if}}


    <div class="p-3 d-flex justify-content-center">
        <button id="newPostBtn" class="btn btn-dark btn-lg"> + New Post</button>
    </div>

    <script src="/js/new-post.js"></script>