<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garden Bliss Homepage</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
  <style>
    /* Apply your custom navigation bar styles here */
    .navbar {
      background-color: #9fe2bf;
      justify-content: center;
      overflow: hidden;
    }

    .navbar ul {
      display: flex;
      list-style: none;
      padding: 0;
    }

    .navbar a {
      display: inline-block;
      color: darkgreen;
      font-weight: bolder;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
    }

    .navbar a:hover {
      background-color: darkgreen;
      color: yellow;
    }
  </style>
</head>

  <!-- Main Content Section -->
  <section class="main-content">
    <!-- Left Section - About Us -->
    <div class="container">
      <div class="left-section">
        <h2>About Us 🌿</h2>
        <p>Welcome to Garden Bliss, your virtual gardening companion! Our website is a lush oasis for plant enthusiasts,
          where the beauty of nature meets the convenience of technology. Explore our comprehensive Plant Care Search,
          where you can uncover expert advice and guidance for the well-being of your beloved flora. Join our vibrant
          plant care tips forum and share your tips with users!</p>
      </div>

      <!-- Right Section - Inspirational Paragraph -->
      <div class="right-section">
        <h2>Gardening Tip Of The Day! 🌱</h2>
        <p id="dailyTip">{{dailyTip}}</p>
        <p id="userName">{{userName}}</p>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer>
    <div class="contact-info">
      <p>Contact Us: contact@gardenbliss.com 🌼 Created By: The BC Garden Club</p>
    </div>
  </footer>

  <script src="/js/home.js"></script>
</body>

</html>
