
<head>
 <link rel="stylesheet" type="text/css" href="/css/login.css"> 
</head>


  <head>
 <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

  <div class="container">
    <div class="login-form">
    <h1>Login</h1>

       <form>  <!-- action="/api/users/login" method="POST"   Check login route -->
        <div class="form-group card-body">
          <label for="email">Email</label>
          <input type="email" placeholder="" id="email" name="email" autocomplete="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="" id="password" name="password" />
        </div>
        <div class="form-group">
          <input type="submit" id="loginbtn" name="loginbtn" value="Submit" />
        </div>
      </form>
    </div>
    
    <p class="para-2">
      Don't have an account? <a href="/signup">Sign Up Here</a>
    </p>
  </div>


<script src="/js/login.js"></script>