  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
 <a href="add-comment/{{post.id}}">
{{> post-info post }}
</a>

<h5 class="my-4 mx-5">Tips:</h5>

{{> comments post.comments  }}