body {
    margin: 0;
    padding: 0;
    background-image: url('./images/waterpot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
   /* min-height: 100vh;*/
  }


  .navbar .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  /* Reset some default styling */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Styling the navigation bar */
  .navbar {
    background-color: #9fe2bf;
    justify-content: center;
    overflow: hidden;
  }
  
  .nav-links > li a {
    display: inline-block;
    color: darkgreen;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-links > li a:hover {
    background-color: darkgreen;
    color: yellow;
  }
  
  /* Clear floats  */
  .nav-links:after {
    content: "";
    display: table;
    clear: both;
  }





  /* Header and Navigation Styles */
  header {
    background-color: #9fe2bf;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure the header is on top of other content */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    height: 60px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;  
}

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight:  bolder;
    margin: 80px;
}
  
  h1 {
    font-size: 50px;
    font-family: "Lucida Handwriting";
    font-weight: bold;
    color: white;
    margin-top: 100px;
    margin-right: 30px;
    text-align: center;
    flex: 1; /* Center the title */
  }

  .h1 {
    margin-right: 35px;
  }

  .signup-form {
    width: 380px;
    height: 620px; /* Adjust height to accommodate the new Username field */
    margin-top: -60px;
    background-color: white;
    border-radius: 10px;
  }
  
  .login-form {
    width: 380px;
    height: 340px;
    margin-top: -60px;
    border-radius: 10px;
    background-color: white;
  }
  
 .signup-form h1,
 .login-form h1 {
    text-align: center;
    padding-top: 15px;
    color: black;
    font-family: Roboto;
    font-size: 45px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 320px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
  }
  
  #signupbtn {
    width: 334px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background-color: #228B22;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  #loginbtn{
    width: 340px;
    height: 35px;
    margin-top: 40px;
    border: none;
    background-color: #228B22;
    color: white;
    font-size: 18px;
    font-weight: bold;
    }

  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .para-2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-top: -10px;
  }
  
  .para-2 a {
    color: black;
    font-weight: bolder;
    font-size: 35px;
    background-color: white;
    border-radius: 6px;
  }
    

